body{
  background-color: skyblue;
}

 #speech-bubble{
  display: block;
  position: relative;
  background-color: #32ff55;
  border-radius: 15px;
  width: 250px;
  height: 150px;
  margin: 200px auto;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #32ff55;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}
/* #speech-bubble{
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: #666 transparent transparent #666;
} */
